<tr class="job-row nojobs-row {{type}}">
    <td class="col-filename" colspan="4">
        <i class="fa fa-lemon-o fa-4" aria-hidden="true" title="{{# str }} queuenojobserror, local_datahub {{/ str }}"></i>
    </td>
</tr>
