<div class="local_datahub_queue" id="">
    <h3>{{# str }} queuetitle, local_datahub {{/ str }}</h3>
    <p>{{# str }} queuedesr, local_datahub {{/ str }}</p>
    <!-- Buttons to pause and continue processing. Enable/disable draggables. -->
    <div class="pausecontinue" id="pausecontinue_parent">
        <button type="button" class="btn" id="pause_scheduled">{{# str }} queuepausebtn, local_datahub {{/ str }}</button>
        <button type="button" class="btn" id="continue_scheduled" disabled>{{# str }} queuecontinuebtn, local_datahub {{/ str }}</button>
        <div class="processing-indicator">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
    <!-- Alert for when pauses, continues, etc. fail. -->
    <div id="queue_alert" class="queue_alert alert alert-danger alert-dismissible fade" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p id="queue_alert_msg" class="queue_alert_msg"></p>
    </div>
    <!-- Alert for when pauses, continues, etc. succeed. -->
    <div id="queue_success" class="queue_success alert alert-success alert-dismissible fade" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p id="queue_success_msg" class="queue_success_msg"></p>
    </div>
    <!-- Table to contain jobs queue. -->
    <table class="table jobs" id="queue_job_table">
        <thead class="thead-default">
            <tr class="primary-header">
                <th colspan="1" class="col-filename">{{# str }} queuefilename, local_datahub {{/ str }}</th>
                <th colspan="1" class="col-status">{{# str }} queuestatusname, local_datahub {{/ str }}</th>
                <th colspan="1" class="col-status-details"></th>
                <th colspan="1" class="col-options">{{# str }} queueoptions, local_datahub {{/ str }}</th>
            </tr>
        </thead>
        <tbody class="draggable-parent insert-inside">
        </tbody>
    </table>
    <div class="loading" id="loading_indicator">
        <i class="fa fa-spinner fa-spin fa-4"></i>
    </div>
</div>